body {
  color: white !important;
  background-color: #232426 !important;
}

.nav-header li a:focus, .nav-header li a:hover {
  color: white !important;
}

.nav-header li.active a {
  color: white !important;
}

.blog-name {
  color: white !important;
}

.post-title {
  color: white !important;
}

.top-header {
  color: #02a9e6;
  font-size: 1.7rem;
}

.margin-top-header {
  margin-top: -6rem;
}

.margin-revert-2 {
  margin-top: -2rem;
}

.img-size {
  width: 46rem;
  margin-top: -7rem;
  margin-left: -10rem;
}

.custom-title {
  font-size: 5rem;
  font-weight: bold;
}

.subtitle {
  font-size: 1.9rem;
  font-weight: bold;
}

.subtitle1 {
  font-size: 1.5rem;
  font-family: var(--font-secondary);
}

.subtitle2 {
  font-size: 3.4rem;
  font-weight: bold;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.subtitle3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.contents {
  font-size: 1.4rem;
}

.color-blue {
  border-color: #02a9e6 !important;
}

.flex-direction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.subscribe-btn {
  border-radius: 3px;
  padding: 0.5rem 1.5rem;
  border-color: #02a9e6 !important;
  background-color: #02a9e6 !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.row-direction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 11rem;
}

.img-bottom-size {
  width: 23rem;
}

.bottom-layout {
  display: flex;
  justify-content: space-between;
  border: 2px solid #2d2f2e;
  margin-top: 5rem;
  background: black;
  color: white;
}

.content1 {
  font-size: 1.4rem;
  font-weight: bold;
}

.content2 {
  font-size: 1.4rem;
  color: darkgray;
}

.content3 {
  font-size: 1.4rem;
  color: orange;
  margin-top: 1rem;
}

.margin-top-5 {
  margin-top: 5rem;
}

.bottom-layout:hover {
  cursor: pointer;
}

.flex-article {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: space-between;
}

.u-object-fit {
  width: 100% !important;
}

a:hover {
  color: darkgray !important;
  text-decoration: none !important;
}

.custom-post-box {
  border-bottom: none !important;
  padding-top: calc(0rem + 2vw) !important;
  padding-bottom: calc(0rem + 2vw) !important;
}

.custom-inner {
  padding: 0px !important;
}

.article-width {
  width: 30%;
}

.custom-blogtitle {
  font-size: 2.3em !important;
  padding-top: 3rem !important;
}

.post-excerpt {
  font-size: 1.5em !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  height: 124px !important;
  width: 100% !important;
}

.btn-text {
  font-size: 1.3rem;
  font-family: var(--font-secondary);
}